/* Chrome, Safari, Edge, Opera */
input.hideSteps::-webkit-outer-spin-button,
input.hideSteps::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.hideSteps[type='number'] {
  -moz-appearance: textfield;
}

@media print {
  .noPrint,
  .noPrint * {
    display: none !important;
  }

  * {
    border-color: black !important;
  }

  .MuiTypography-root {
    color: black !important;
  }

  .MuiCheckbox-root {
    color: black !important;
  }
}

@media only screen and (max-width: 600px) {
  html {
    overflow-x: hidden;
  }
}

.MuiAutocomplete-popper {
  min-width: 275px;
}